<div class="container">
        <mat-grid-list cols="2" rowHeight="250px" gutterSize="25px">
            <mat-grid-tile>
                <mat-card class="example-card" style="width: 100%; border-radius: 10px;">
                    <mat-card-content>
                      <div style="display: flex; justify-content: space-between; align-items: center;">
                        <mat-icon style="color: orange; width: 100px; height: 100px; font-size: 100px;" aria-hidden="false" aria-label="Example home icon" fontIcon="person"></mat-icon>
                        <div style="display: flex; flex-direction: column; align-items: end;">
                            <span>Total User</span>
                            <span style="font-weight: bold; font-size: 24pt;">10</span>
                        </div>
                    </div>
                  
                      <mat-divider></mat-divider>
                    </mat-card-content>
                    <mat-card-actions>
                        <mat-icon style="color: grey; margin-right: 5px;" aria-hidden="false" aria-label="Example home icon" fontIcon="restart_alt"></mat-icon> User
                    </mat-card-actions>
                  
                  </mat-card>
            </mat-grid-tile>
            <mat-grid-tile>
                <mat-card class="example-card" style="width: 100%; border-radius: 10px;">
                    <mat-card-content>
                      <div style="display: flex; justify-content: space-between; align-items: center;">
                        <mat-icon style="color: purple; width: 100px; height: 100px; font-size: 100px;" aria-hidden="false" aria-label="Example home icon" fontIcon="list_alt"></mat-icon>
                        <div style="display: flex; flex-direction: column; align-items: end;">
                            <span>Total Post</span>
                            <span style="font-weight: bold; font-size: 24pt;">100</span>
                        </div>
                    </div>
                  
                      <mat-divider></mat-divider>
                    </mat-card-content>
                    <mat-card-actions>
                        <mat-icon style="color: grey; margin-right: 5px;" aria-hidden="false" aria-label="Example home icon" fontIcon="restart_alt"></mat-icon> Post
                    </mat-card-actions>
                  
                  </mat-card>
            </mat-grid-tile>
          </mat-grid-list>

          <div style="margin: 20px">
            <canvas id="bar-chart"></canvas>
        </div>

</div>
